@media (min-width: 1400px) {
        /* ============================== Team ================================ */ 
.team .team-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.team .team-grid .img{
    clip-path: circle(150px at center);
}

.team .team-grid .img:hover{
    clip-path: circle(900px at center);
    box-shadow: 0px 0px 10px black;
}
    
/* ==================================== video ======================================= */

.video .video-main .text h1{
    font-size: 30px;
    text-shadow: 0px 0px 5px black;
    padding: 0px 50px 20px 50px;
}
.video .video-main .text p{
    padding: 0px 350px;
    font-size: 15px;
}

}