@media (min-width: 768px) {

    /* header */
    /* inherent from min 576px */

    /* ======================= hero =========================== */
    .bxslider .home .p1{
        width: 50%;
    }
    .bxslider .home .p2{
        width: 50%;
    }

/* about is inherite from 576px min */

/* ==================================== video ======================================= */

.video .video-main .text h1{
    font-size: 30px;
    text-shadow: 0px 0px 5px black;
    padding-bottom: 20px;
}
.video .video-main .text p{
    padding: 0px 100px;
    font-size: 13px;
}

/* ===================================Upcoming Events ================================= */
.uptour .uptour-main .uptour-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

/* ====================================== contact ========================================== */
.contact .contact-p {
    padding: 70px 0px 0px 0px;
}

.contact .contact-position .iframe1{
    padding-bottom: 0px;
}

.contact .contact-position {
    position: relative;
}

.contact .contact-position .form {
    background-color: rgb(253, 250, 251);
    width: 40%;
    position: absolute;
    top: 200px;
    right: 100px;
    box-shadow: 0px 0px 10px black;

}

/* ---------------- footer -----------------  */
.footer .footer-grid{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .footer-grid .logo .p1{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}
}