@media (min-width: 992px) {
    .container{
        margin: 0px 80px;
    }
    .navigation{
        display: block;
    }
    .header .header-flex .nav{
        display: block;
    }
    .header .header-flex .bars{
        display: none;
    }
    .header .header-flex .show_menu{
        display: none;
    }

}